body, html {
    margin: 0px;
    font-family: 'Roboto';
    font-weight: lighter;
    height: 100%;
}
.title{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}
.upper{
    border-radius: 40px 40px 0 0;
    background-image: url(img/view.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    width: 300px;
}
.upper img{
    border-radius: 50%;
    height: 100px;
    position: relative;
    top: 75%;
    box-shadow: 0 10px 27px 0 rgb(0 0 0 / 30%);
    background-color: rgb(255, 255, 255);
    padding: 1px;
}
.business_card{
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 40px;
    height: 450px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    text-align: center;
}
.lower{
    border-radius: 0 0 50px 50px;
    height: 200px;
    width: 300px;
}
.lower a{
    padding: 10px;
}
.card_title{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
/*Mobile*/
@media (max-width:650px){
}

@media (max-width: 870px){
}
@media (max-width: 650px){

}